<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-sm-12">
            <h5>Editing Article</h5>
        </div>
        <div class="col-sm-12">
            <%= render 'form', article: @article %>
        </div>
    </div>
</div>