<div class=" footer bg-dark text-light container-fluid shadow">
    <div class="row mt-5">
        <div class=" col-sm-12 text-center">
            <i class="fab fa-youtube fa-3x pl-2 pr-2"></i>
            <i class="fab fa-facebook fa-3x pl-2 pr-2 "></i>
            <i class="fab fa-twitter fa-3x pl-2 pr-2 "></i>
            <i class="fab fa-instagram fa-3x pl-2 pr-2 "></i>
        </div>
        <div class="col-sm-12 text-center">
        	<p>@copyright by chandra gunawan</p>
        </div>
    </div>
</div>