        <div class="container-fluid">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <%= image_tag "logotext.svg", :height=>'100rem',:class=>"col-sm-12" %>
                    <h1 class="display-4">Hello, world!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
        </div>